<div id="pageintro" class="hoc clear">

    <!-- ################################################################################################ -->
    <article>
        <div class="introtxt">
            <p class="font-xs nospace"></p>

            <h2 class="heading">BenAgriculture</h2>

            <p style="text-align: justify !important;"><strong style="color:#718C00"> DJINOUKOUN BENIN</strong> est une
                plateforme de mise en relation des acteurs du secteur agricole.
                Elle permet d une part aux Agriculteurs (y compris les plus vulnerables) vivant dans les zones les
                rurales de trouver de nouveaux debouches pour leurs productions sur les marches locaux,
                regionaux et internationaux, et d autre part met a la disposition des acheteurs
                des informations pertinentes pour faciliter leurs achats. Le meme systeme permet de recevoir des
                conseils avec des experts sur les nouvelles methodes agroecologiques et les donnees agrometeorologiques
                par SMS pour eviter les risques lies aux aleas climatiques lors de l etape de production.
            </p>
        </div>
    </article>
    <!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h2 class="heading">Toutes les fonctionnalites</h2>
        </div>
        <ul class="nospace elements">
            <li class="one_third first">
                <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>

                    <div class="txtwrap">
                        <h6 class="heading" >Comment ca marche?</h6>

                        <p>
                        <ul style="text-align: justify">
                            <li>Tout agriculteur peut souscrire au service et payer ses abonnements via mobile money</li>
                            <li>Tout acheteur peut s abonner au service pour recevoir de notification</li>
                            <li>L agriculteur publie sa recolte (tonnage, prix) en utilisant l un des canaux disponibles </li>

                            <a style="display:none;float:right;color:#599D33;" id="comment_plus"  onclick="show_plus('comment_plus','0','4');return false"href="#"> Lire plus</a>
                            <li id="comment_plus1">Les publications sont moderees, puis acceptees ou pas  </li>
                            <li id="comment_plus2" >Les publications acceptees sont notifie aux abonnes (mail, SMS) </li>
                            <li id="comment_plus3" >Les publications sont diffusees (site web, BenAgriculture, réseaux sociaux)</li>
                            <a style="display:none;float:right;color:#599D33;" id="comment_plus4"  onclick="show_plus('comment_plus','1','4');return false"href="#"> Fermer</a>
                        </ul>&hellip;

                        </p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>

                    <div class="txtwrap">
                        <h6 class="heading">Fonctionnalites</h6>

                        <p>
                         <ul style="text-align: justify">
                            <li>Enregistrement des enregistreurs</li>
                            <li>Publication des offres par web et SMS</li>
                            <li>
                                Moderation avec acceptation ou refus des offres : site web BenAgriculture
                            </li>
                            <a style="display:none;float:right;color:#599D33;" id="comment2_plus"  onclick="show_plus('comment2_plus','0','7');return false"href="#"> Lire plus</a>
                            <li id="comment2_plus1">Diffusion des offres : site web BenAgriculture, reseaux sociaux</li>
                            <li id="comment2_plus2" style="display:none">Service agrometeorologie par SMS</li>
                            <li id="comment2_plus3" style="display:none">Service cartographique des champs</li>
                           <li id="comment2_plus4" style="display:none">Conseils aux agriculteurs par SMS et par mail</li>
                            <li id="comment2_plus5" style="display:none">Notification aux abonnes (SMS, mail)</li>
                            <li id="comment2_plus6" style="display:none">Moteur de recherche sur le site web benAgriculture (localites,
                                disponibilite et prix des produits, cartographie des disponibilites par produit etc)
                            </li>
                            <a style="display:none;float:right;color:#599D33;" id="comment2_plus7"  onclick="show_plus('comment2_plus','1','7');return false"href="#"> Fermer</a>
                         </ul>&hellip;

                        </p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>

                    <div class="txtwrap">
                        <h6 class="heading">Avantages</h6>

                        <p >
                        <ul style="text-align: justify">
                            <li>
                                Pour le secteur : promotion des acteurs et des produits
                            </li>
                            <li>
                                Pour les agriculteurs
                                <ul>
                                    <li>Pour les agriculteurs</li>
                                    <li>Reduction des pertes de recoltes</li>
                                    <li>Meilleures exploiitations des terres</li>
                                    <a style="display:none;float:right;color:#599D33;" id="comment3_plus"  onclick="show_plus('comment3_plus','0','13');return false"href="#"> Lire plus</a>
                                    <li id="comment3_plus1">Vente au juste prix</li>
                                    <li id="comment3_plus2">Inclusion technologique</li>
                                    <li id="comment3_plus3">Augmentation des revenus et amelioration des conditions de vie</li>
                                </ul>
                            </li>
                            <li id="comment3_plus4">
                                Pour les acheteurs
                                <ul id="comment3_plus5">
                                    <li id="comment3_plus6">Meilleurs ciblages (zones geographiques, stocks disponibles, prix,
                                        interlocuteurs fiables)
                                    </li>
                                    <li id="comment3_plus7">Facilitation des achats</li>
                                </ul>
                            </li>
                            <li id="comment3_plus8">
                                Pour les Etats & partenaires au developpement
                                <ul id="comment3_plus8" >
                                    <li id="comment3_plus10">Aide a la mise en oeuvre des politiques agricoles</li>
                                    <li id="comment3_plus11">Mise a disposition d indicateurs pertinents</li>
                                    <li id="comment3_plus12">Aide a la reduction de la pauvrete</li>
                                </ul>
                            </li>
                            <a style="display:none;float:right;color:#599D33;" id="comment3_plus13"  onclick="show_plus('comment3_plus','1','13');return false"href="#"> Fermer</a>
                        </ul>
                        &hellip;</p>
                    </div>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>

{#<section id="content">


    <div class="container_24">
        <div class="wrapper">
            <div class="grid_24 content-bg">
                <div class="wrapper">

                    <div class="grid_16 suffix_1 prefix_1 alpha">
                        <article class="indent-bot">
                            <div class="wrapper hr-border-1">
                                <div class="grid_4 alpha" style="margin-right:10px">

                                    <div class="toggle toggle-accordion toggle-transparent ">


                                            <div class="toggle-content" style="">

                                                    <p class="text-justify" style="font-size: xx-large; position: static">
                                                <strong style="color: #0000F0">   BenAgriculture</strong> est une plateforme de mise en relation des acteurs du secteur agricole.
                                                        Elle permet d une part aux Agriculteurs (y compris les plus vulnerables) vivant dans les zones les rurales de trouver de nouveaux debouches pour leurs productions sur les marches locaux,
                                                        regionaux et internationaux, et d autre part met a la disposition des acheteurs
                                                        des informations pertinentes pour faciliter leurs achats. Le meme systeme permet de recevoir des conseils avec des experts sur les nouvelles methodes agroecologiques et les  donnees agrometeorologiques par SMS pour eviter les risques lies aux aleas climatiques lors de l etape de production.
                                                    </p>

                                                </div>
                                            </div>

                                    </div>
                                </div>
                                <div class="grid_4" style="margin-right:10px">

                                    <h2 style="color:#599D33;margin-top:10px; font-size:20px">BenAgriculture</h2>

                                    <h3 style="color:#599D33;margin-top:10px; font-size:20px">Laissez-vous guider</h3>
                                    <div class="toggle toggle-accordion toggle-transparent " style="min-height:300px; min-width:200px; ">
                                        <div class="toggle active">
                                            <label onclick="show_plus('comment_plus','1','3')" >Comment ca marche?</label>
                                            <div class="toggle-content" style="border-top:1px solid #dedede!important">
                                                <ul>
                                                    <li>Tout agriculteur peut souscrire au service et payer ses abonnement via mobile money</li>
                                                    <li>Tout acheteur peut s abonner au service pour recevoir de notification</li>
                                                    <li>L agriculteur publie sa recolte (tonnage, prix) en utilisant l un des canaux disponibles </li>
                                                    <li>Les publications sont moderees, puis acceptees ou pas  </li>
                                                    <a id="comment_plus" onclick="show_plus('comment_plus','0','3');return false"href="#" style="margin-top:40px;float:right;color:#599D33;"> Lire plus</a>


                                                    <li id="comment_plus1" style="display:none" >Les publications acceptees sont notifie aux abonnes (mail, SMS) </li>
                                                    <li id="comment_plus2" style="display:none" >Les publications sont diffusees (site web, BenAgriculture, réseaux sociaux)</li>
                                                    <a  id="comment_plus3" style="display:none;float:right;color:#599D33;" onclick="show_plus('comment_plus','1','3');return false"href="#" > Fermer</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid_4" style="margin-left:53px">
                                    <h3 style="color:#599D33;margin-top:10px; font-size:20px; line-height: 20px">Toutes les fonctionnalites</h3>
                                    <div class="toggle toggle-accordion toggle-transparent" style="min-height:300px; min-width:200px; border:1px solid #dedede">
                                        <div class="toggle active">
                                            <label onclick="show_plus('fonction_plus','1','5')">Fonctionnalites</label>
                                            <div class="toggle-content" style="border-top:1px solid #dedede!important">
                                                <ul>
                                                    <li>Enregistrement des enregistreurs</li>
                                                    <li>Publication des offres par  web et SMS</li>
                                                    <li>
                                                        Moderation avec acceptation ou refus des offres : site web BenAgriculture
                                                    </li>
                                                    <li >Diffusion des offres : site web BenAgriculture, reseaux sociaux </li>
                                                    <a id="fonction_plus" onclick="show_plus('fonction_plus','0','5');return false"href="#" style="margin-top:60px;float:right;color:#599D33;"> Lire plus</a>

                                                    <li id="fonction_plus1" style="display:none">Service agrometeorologie par SMS</li>
                                                    <li id="fonction_plus3" style="display:none">Service cartographique des champs</li>
                                                    <li id="fonction_plus2" style="display:none">Conseils aux agriculteurs par SMS et par mail</li>
                                                    <li id="fonction_plus3" style="display:none">Notification aux abonnes (SMS, mail) </li>
                                                    <li id="fonction_plus4" style="display:none">Moteur de recherche sur le site web benAgriculture (localites, disponibilite et prix des produits, cartographie des disponibilites par produit etc)</li>
                                                    <a  id="fonction_plus5" style="display:none;float:right;color:#599D33;" onclick="show_plus('fonction_plus','1','5');return false"href="#" > Fermer</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid_4 omega" style=" margin-left:60px ">
                                    <h3 style="color:#599D33;margin-top:10px; font-size:20px; line-height: 20px">Les avantages de la solution</h3>
                                    <div class="toggle toggle-accordion toggle-transparent" style="min-height:300px; min-width:200px;">

                                        <div class="toggle active">
                                            <label onclick="show_plus('avantages_plus','1','3')">Avantages</label>
                                            <div class="toggle-content" >
                                                <ul>
                                                    <li>
                                                        Pour le secteur : promotion des acteurs et des produits
                                                    </li>
                                                    <li >
                                                        Pour les agriculteurs
                                                        <ul>
                                                            <li>Pour les agriculteurs</li>
                                                            <li>Reduction des pertes de recoltes</li>
                                                            <li>Meilleures exploiitations des terres</li>
                                                            <li>Vente au juste prix</li>
                                                            <li>Inclusion  technologique</li>
                                                            <li>Augmentation des revenus et amelioration des conditions de vie</li>
                                                            <a id="avantages_plus" onclick="show_plus('avantages_plus','0','3');return false"href="#" style="margin-top:40px;float:right;color:#599D33;"> Lire plus</a>
                                                        </ul>
                                                    </li>
                                                    <li id="avantages_plus1" style="display:none">
                                                        Pour les acheteurs
                                                        <ul>
                                                            <li>Meilleurs ciblages (zones geographiques, stocks disponibles, prix, interlocuteurs fiables)</li>
                                                            <li>Facilitation des achats</li>
                                                        </ul>
                                                    </li>
                                                    <li id="avantages_plus2" style="display:none">
                                                        Pour les Etats & partenaires au developpement
                                                        <ul>
                                                            <li>Aide a la mise en oeuvre des politiques agricoles</li>
                                                            <li>Mise a disposition d indicateurs  pertinents</li>
                                                            <li>Aide a la reduction de la pauvrete</li>
                                                        </ul>
                                                    </li>
                                                    <a  id="avantages_plus3" style="display:none;float:right;color:#599D33;" onclick="show_plus('avantages_plus','1','3');return false"href="#" > Fermer</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>#}

<!--div class="slider-container">
    <div class="mp-slider">
        <ul class="items">
            <li><img src="{{ asset('front/images/slide-1.jpg') }}" alt="">
                <div class="banner mp-ban-1"><span class="row-1">mettre notre</span><span class="row-2">coeur et&amp; notre ame</span><span class="row-3">dans le champ</span></div>
            </li>
            <li><img src="{{ asset('front/images/slide-2.jpg') }}" alt="">
                <div class="banner mp-ban-2"><span class="row-1">nous avons un fort</span><span class="row-2">heritage</span><span class="row-3">agricole</span></div>
            </li>
            <li><img src="{{ asset('front/images/slide-3.jpg') }}" alt="">
                <div class="banner mp-ban-3"><span class="row-1">grandir propre</span><span class="row-2">et plein de produits</span><span class="row-3"> de sante</span></div>
            </li>
        </ul>
    </div>
</--div-->
<a href="#" class="mp-prev"></a> <a href="#" class="mp-next"></a>

