<!-- Footer -->
<footer>
    <div class="container_24">
        <div class="wrapper">
            <div class="grid_24 footer-bg">
                <div class="hr-border-2"></div>
                <div class="wrapper">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="title">Nous retrouver</h6>
                <ul class="nospace linklist contact">
                    <li><i class="fa fa-map-marker"></i>
                        <address>
                           Cotonou, Republique du Bénin
                        </address>
                    </li>
                    <li><i class="fa fa-phone"></i> +22966852813<br></li>
                    <li><i class="fa fa-phone"></i> +22997246746</li>
                    <li><i class="fa fa-envelope-o"></i> faladebodelaire@gmail.com</li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="title">Explorez</h6>
                <ul class="nospace linklist">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Marche</a></li>
                    <li><a href="#">Connaissances agricoles</a></li>
                    <li><a href="#">S'abonner</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="title">Souscrivez vous</h6>
                <form method="post" action="#">
                    <fieldset>
                        <legend>Connexion</legend>
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <input class="btmspace-15" type="password" value="" placeholder="mot de passe">
                        <button type="submit" value="Connexion">Connexion</button>
                    </fieldset>
                </form>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
</footer>>

