<!-- Header -->
<header class="hoc clear" style="">
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <h2>E-FARMERS</h2>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item has-text-success">Acceuil</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-success">Marche</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item has-text-black">Offre</a>
                        <a class="navbar-item has-text-black">Demande</a>
                        <a class="navbar-item has-text-black">Prix sur le marche</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-success">Connaissances Agricoles</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item has-text-black">Technique de production</a>
                        <a class="navbar-item has-text-black">Technique de agroecologique</a>
                        <a class="navbar-item has-text-black">Technique de conservation</a>
                    </div>
                </div>
                <a class="navbar-item has-text-success">S'abonner</a>
                <a class="navbar-item has-text-success">A propos</a>
                <a class="navbar-item has-text-success">Contact</a>
            </div>
        </div>
    </nav>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
</header>

