{% extends 'blockAccueil/base.html.twig' %}

{% block content %}
    <div style="margin-top: 2%;margin-bottom:2% " class="inner container">
        <div class="row">
            {#<div style="background-color: red;height: 10%" class="col-md-6">#}

            {#</div>#}

            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="row">

                    <!-- Blog Entries Column -->
                    <div class="col-md-8">

                        <h1 class="my-4">Connaissances       Agricoles

                        </h1>

                        <!-- Blog Post -->
                     {% for articles in articles %}
                        <div class="card mb-6">
                            <img class="card-img-top" src="{{ asset('front/images/main-bg.jpg') }}" alt="Card image cap">
                            {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}

                            <div class="card-body" style="color:black">
                                <h2 class="card-title">{{ articles.title }}</h2>

                                <p class="card-text">     {{ articles.resume }}     </p>
                                <a href="#" class="btn btn-primary">lire plus &rarr;</a>
                            </div>
                        </div>
                     {% endfor %}

                    </div>

                    <!-- Sidebar Widgets Column -->

                </div>

            </div>
            <div class="col-md-1"></div>


        </div>
    </div>
    <!-- /.container -->
    <section id="content">
        <div class="container">

            <!-- /.row -->

        </div>
    </section>






{% endblock %}